
/* General */

* {
    margin: 0;
    padding: 0;
}

:root {
    --background-color: #060606;
    --text-color: #FFFFFF; 
    --accent-color: #D8007E;
    --hamburger-line-color: #FFFFFF;
}

body {
	font-family: "SF Pro Display", -apple-system, BlinkMacSystemFont, "Helvetica Neue", Helvetica, Arial, "Segoe UI", sans-serif; 
    font-weight: 300;
    background-color: var(--background-color);
    color: var(--text-color);

    /* Location of the image */
    background-image: url(images/background.jpg);

    /* Image is centered vertically and horizontally at all times */
    background-position: center center;
    
    /* Image doesn't repeat */
    background-repeat: no-repeat;
    
    /* Makes the image fixed in the viewport so that it doesn't move when 
        the content height is greater than the image height */
    background-attachment: fixed;
    
    /* This is what makes the background image rescale based on its container's size */
    background-size: cover;
}

a {
	color: var(--text-color);
	text-decoration: none;
}

a:hover {
    text-decoration: underline;
    text-decoration-color: var(--accent-color);
}

/* !- Container (Flexbox) */

.sections-container {
    max-width: 900px;
    margin-left: auto;
    margin-right: auto;
}

/* !- Header */

header {
    width: 100%;
    min-width: 300px;
}

/* !- Section */

section {
    width: 100%;
    display: flex;
    flex-direct: row;
    flex-wrap: wrap;
}

/* !- Footer */

footer {
    width: 100%;
    display: flex;
    flex-direct: row;    
}

/* !- Navigation */

header nav {
    width: 100%;
    user-select: none;
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari, Chrome, Opera, Samsung */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Edge, IE */
}

/* ! Logo */

#logo {
  display: inline-block;
  margin-bottom: 2em;
  margin-top: 1.3em;
  margin-left: 1.5em;
  font-size: 16px;
  font-weight: 600;
}

#logo img {
  vertical-align: middle;
  margin-right: 6px;
}

#logo .dark-mode {
  display: none;
}

#logo .light-mode {
  display: inline-block;
}

@media (prefers-color-scheme: dark) {

  #logo .dark-mode {
    display: inline-block;
  }
  
  #logo .light-mode {
    display: none;
  }
}

/* ! Menu */

#menu {
    margin-bottom: 2em;
    margin-top: 1.8em;
    font-size: 14px;
    text-align: right;
    float: right;
}

#menu a {
    margin-right: 20px;
    font-weight: 500;
    color: var(--text-color);
    text-decoration: none;
}

#menu a:hover {
    text-decoration: underline;
}

#menu .current-page {
    color: var(--accent-color);
}

.contact-info-hidden {
  display: none;
}

/* !- Hamburger Menu */

.hamburger-menu-button {
  display: none;
  margin-top: 1.0em;
  cursor: pointer;
  padding: 16px;
  float: right;
}

.hamburger-line {
    background: var(--hamburger-line-color);
    display: block;
    height: 2px;
    position: relative;
    width: 24px;
}

.hamburger-line::before, .hamburger-line::after {
    background: var(--hamburger-line-color);
    content: '';
    display: block;
    height: 100%;
    position: absolute;
    transition: all .2s ease-out;
    width: 100%;
}

.hamburger-line::before{
    top: 5px;
}

.hamburger-line::after{
    top: -5px;
}

.side-menu {
    display: none;
}

.side-menu:checked ~ .hamburger-menu-button .hamburger-line {
    background: transparent;
}
.side-menu:checked ~ .hamburger-menu-button .hamburger-line::before {
    transform: rotate(-45deg);
    top: 0;
}
.side-menu:checked ~ .hamburger-menu-button .hamburger-line::after {
    transform: rotate(45deg);
    top: 0;
}

/* !- SIZE: Desktop */

@media (min-width: 900px) {
  
  .header-content {
    text-align: center;
  }
  
  .header-content h1 {
    font-size: 3em;
    margin-top: 1em;
    margin-bottom: 1.6em;
  }
  
  #splash {
      margin-top: 160px;
      margin-left: auto;
      margin-right: auto;
      text-align: center;
      font-size: 60px;
      font-weight: 700;
      line-height: 120px;
  }
}

/* !- SIZE: Tablet */

@media (max-width: 899px) {
  
  .header-content {
    text-align: center;
  }
  
  .header-content h1 {
    font-size: 3em;
    margin-top: 1em;
    margin-bottom: 1.6em;
  }
  
  #splash {
      margin-top: 160px;
      margin-left: auto;
      margin-right: auto;
      text-align: center;
      font-size: 60px;
      font-weight: 700;
      line-height: 120px;
  }

}

/* !- SIZE: Mobile Landscape */

@media (max-width: 766px) {

  .header-content {
    text-align: center;
  }

  .header-content h1 {
    font-size: 2.4em;
    margin-top: 0.8em;
    margin-bottom: 1em;
  }
  
  #splash {
      margin-top: 120px;
      margin-left: auto;
      margin-right: auto;
      text-align: center;
      font-size: 50px;
      font-weight: 700;
      line-height: 100px;
  }
}

/* !- SIZE: Mobile Portrait */

@media (max-width: 477px) {

  .hamburger-menu-button {
    display: inline-block;
  }
  
  #logo {
    margin-bottom: 1em;
  }
  
  #menu {
    display: block;
    text-align: left;
    width: 100%;
    margin-bottom: 3em;
    margin-top: 0em;
    max-height: 0px;
    overflow: hidden;
    transition: max-height .5s ease-out;
  }
  
  #menu a {
    display: block;
    padding: 0.8em;
    margin-left: 1em;
    font-size: 1.2em;
  }
    
  .side-menu:checked ~ #menu {
    max-height: calc(3 * 100px);
  }
  
  header nav {
    flex-wrap: wrap;
  }
  
  .header-content {
    text-align: center;
  }

  .header-content h1 {
    font-size: 2em;
    margin-top: 0.8em;
    margin-bottom: 1em;
  }
  
  #splash {
      margin-top: 100px;
      margin-left: auto;
      margin-right: auto;
      text-align: center;
      font-size: 30px;
      font-weight: 600;
      line-height: 60px;
  }
}

/* !- Splash Animations */

.animate-pop-in {
    animation: pop-in 1s cubic-bezier(.4,.21,.26,1.08) forwards;
    opacity: 0;
}

.splash-text-1 {
    animation-delay: 0.6s;
}

.splash-text-2 {
    animation-delay: 0.8s;
}

.splash-text-3 {
    animation-delay: 2.0s;
}

@keyframes pop-in {
    0% {
      opacity: 0;
      transform: translateY(1rem);
    }
    100% {
      opacity: 1;
      transform: none;
    }
  }
